<!--------------------------------------
　パスワード変更（新しいパスワード入力）画面
 --------------------------------------->

{%extends 'basic_template.html' %}
{%block content%}
<h1 class="text-center bg-sd-secondary text-sd-light fs-4 p-4 mb-5"><i class="bi bi-key me-2"></i>パスワードの変更</h1>
<div class="container g-5 mt-5">
  <div class="row justify-content-center mb-3">
    <div class="col-lg-6">
      <form action="/account/password" method="post" class="needs-validation" id="signup-form" novalidate>

        <p class="text-center mt-3 mb-5 fs-6 text-sd-secondary">ご希望の新しいパスワードを入力してください。</p>

        <div class="row mb-4">
          <label for="input-password" class="col-sm-4 col-form-label mt-md-3 pt-md-4">新しいパスワード</label>
          <div class="col-sm-8">
            <p id="pm-indicator"></p>
            <input type="password" maxlength="100" name="password" value="{{password}}" class="form-control {{is_valid['password']}}" id="input-password" required>
            {% if exceeds_text_limit['password'] %}
              <span class="invalid-feedback">パスワードは{{ exceeds_text_limit['password'] }}文字以上で入力してください</span>
            {% else %}
              <span class="invalid-feedback">項目を入力してください</span>
            {% endif %}
          </div>
        </div>

        <div class="row mb-5">
          <label for="confirm-password" class="col-sm-4 col-form-label">新しいパスワード<small>（確認）</small></label>
          <div class="col-sm-8">
            <input type="password" maxlength="100" name="password2" value="{{password2}}" class="form-control {{is_valid['password2']}}" id="confirm-password" required>
            {% if is_mismatched %}
              <span class="invalid-feedback">パスワードが一致しません</span>
            {% else %}
              <span class="invalid-feedback">項目を入力してください</span>
            {% endif %}
          </div>
        </div>

        <div class="text-center"><button type="submit" name="input_from" value="new" class="btn btn-sd-secondary">変更を保存する</button></div>
    </div>
  </div>
</div>
{%endblock%}

{%block script%}
<script src="{{url_for('static', filename='js/jquery.pwdMeasure.min.js')}}"></script>
<script src="{{url_for('static', filename='js/password.js')}}"></script>
{%endblock%}