<!---------------------------------
　会員登録確認画面
 ---------------------------------->

{%extends 'basic_template.html' %}
{%block content%}
<h1 class="text-center bg-sd-secondary text-sd-light fs-4 p-4 mb-5"><i class="bi bi-person-add me-2"></i>会員登録</h1>
<div class="container g-5 mt-5">
  <div class="row justify-content-center mb-3">
    <div class="col-lg-6 text-center">

      <!-- 入力情報表示 -->
      <p clas="text-sd">入力内容を確認してください。</p>
      <ul class="list-group d-inline-block mb-5" id="signup-info-card">
        <li class="list-group-item bg-sd-secondary text-light lh-1">メールアドレス</li>
        <li class="list-group-item">{{email}}</li>
        <li class="list-group-item bg-sd-secondary text-light lh-1">ユーザー名</li>
        <li class="list-group-item">{{username}}</li>
      </ul>

      <!-- 前画面から受け取った情報を送信 -->
      <form action="/signup" method="post">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="username" value="{{username}}">
        <input type="hidden" name="password" value="{{password}}">
        <input type="hidden" name="password2" value="{{password2}}">
        <button type="submit" class="btn btn-secondary">修正する</button>
        <button type="submit" class="btn btn-sd-secondary ms-3" name="mode" value="completed" id="signup-btn">登録する</button>
      </form>

    </div>
  </div>
</div>
{%endblock%}